*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'DungeonCrawler';
  src: url('fonts/DungeonCrawler.ttf') format('truetype');
}

body {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.header {
  text-align: center;
  top: 0;
  font-family: 'DungeonCrawler';
  font-size: 28px;
}

.floor {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("floors/grass_floors/Grass_01.png");
  background-position: center;
}

canvas {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
